@import "lengths";
@import "mixins";

.content {
	max-width: $conent-max-width;
	padding: 30px;
	display: flex;
	flex-direction: column;
	
	&.small {
		max-width: $conent-max-width-small;
	}
	
	:global(h1),
	:global(h2),
	:global(h3) {
		margin: 20px 0 20px 0;
	}
	
	:global(p) {
		margin: 0 0 20px 15px;
		line-height: 1.3;
	}
	
	:global(h1) {
		font-size: 1.8em;
		border-bottom: 2px solid var(--color-edge-light);
	}
	
	:global(h2) {
		font-size: 1.5em;
		border-bottom: 2px solid var(--color-edge-light);
	}
	
	:global(h3) {
		font-size: 1.2em;
		margin-top: 0;
	}
	
	:global(a) {
		color: var(--color-edge-highlight);
		text-decoration: none;
		border-bottom: 2px solid var(--color-edge-highlight);
	}
	
	:global(ul) {
		margin: 0 0 20px;
	}
	
}

@include media-mobile {
	.content {
		padding: 20px;
		
		:global(p) {
			margin: 0 0 20px 0;
			line-height: 1.3;
		}
	}
}

@include media-mobile-small {
	.content {
		padding: 10px;
	}
}
