$edge-shadow-regular: 0 0 4px var(--color-text-shadow-strong), 0 0 8px var(--color-box-shadow-rim), 0 0 16px var(--color-box-shadow-glow);

$edge-shadow-small: 0.5px 0.5px 2px var(--color-text-shadow-strong), 0.5px 1px 3px var(--color-text-shadow-rim), 0 0 8px var(--color-text-shadow-glow);
$edge-sahdow-medium: 0.3px 0.8px 2.5px var(--color-text-shadow-strong), 1px 2px 6px var(--color-text-shadow-rim), 0 0 18px var(--color-text-shadow-glow);
$edge-shaodw-large: 1px 1px 3px var(--color-text-shadow-strong), 2px 3px 8px var(--color-text-shadow-rim), 0 0 24px var(--color-text-shadow-glow);

$surface-shadow-strong: 0 0 4px var(--color-box-shadow-strong), 0 0 8px var(--color-box-shadow-rim), 0 0 16px var(--color-box-shadow-glow);
$surface-shadow-soft: 0 0 8px var(--color-box-shadow-rim), 0 0 16px var(--color-box-shadow-glow);


