$rim-shadow-regular: 0 0 4px var(--color-edge-shadow-strong), 0 0 8px var(--color-surface-shadow-rim), 0 0 16px var(--color-surface-shadow-glow);

$edge-shadow-small: 0.5px 0.5px 2px var(--color-edge-shadow-strong), 0.5px 1px 3px var(--color-edge-shadow-rim), 0 0 8px var(--color-edge-shadow-glow);
$edge-sahdow-medium: 0.3px 0.8px 2.5px var(--color-edge-shadow-strong), 1px 2px 6px var(--color-edge-shadow-rim), 0 0 18px var(--color-edge-shadow-glow);
$edge-shaodw-large: 1px 1px 3px var(--color-edge-shadow-strong), 2px 3px 8px var(--color-edge-shadow-rim), 0 0 24px var(--color-edge-shadow-glow);

$surface-shadow-small: 0.2px 0.5px 2px var(--color-surface-shadow-strong), 0.5px 1.5px 4px var(--color-surface-shadow-rim), 0 0 8px var(--color-surface-shadow-glow);
$surface-shadow-strong: 0 0 4px var(--color-surface-shadow-strong), 0 0 8px var(--color-surface-shadow-rim), 0 0 16px var(--color-surface-shadow-glow);
$surface-shadow-soft: 0 0 8px var(--color-surface-shadow-rim), 0 0 16px var(--color-surface-shadow-glow);

$no-shadow: 0 0 5px rgba(0, 0, 0, 0), 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgba(0, 0, 0, 0);
